[Interface]
PrivateKey = {{ server_private_key }}
Address = {{ server_cidr }}
ListenPort = {{ server_port }}

PostUp = iptables -A FORWARD -i %i -j ACCEPT; iptables -t nat -A POSTROUTING -o {{ server_interface | default(ansible_default_ipv4["interface"]) }} -j MASQUERADE
PostDown = iptables -D FORWARD -i %i -j ACCEPT; iptables -t nat -D POSTROUTING -o {{ server_interface | default(ansible_default_ipv4["interface"]) }} -j MASQUERADE

[Peer]
PublicKey = {{ peer_public_key }}
{% if preshared_key is defined %}
PresharedKey = {{ preshared_key }}
{% endif %}
AllowedIPs = {{ allowed_peer_cidr }}
